<%if (title) { %>
<h1><%= title %></h1>
<%}else {res.redirect('/')} %> <%- messages() %>
<% if (errors){ %>
  <ul class="notice">
    <% errors.array().forEach(error => { %>
    <li><%= error.msg %></li>
    <% }) %>
  </ul>
  <% }%>


<form id="login" action="../account/login" method="post">
  <label for="emailAddress">Email Address:</label><br />
  <input
    type="email"
    name="account_email"
    required
    pattern="[a-zA-Z0-9_.\-]+@gmail.com"
    placeholder="abc@gmail.com"
    title="A valid email address"
    value="<%=locals.account_email %>"
  /><br />
  <label for="password">Password: </label><br />
  <span
    >(Passwords must be at least 12 characters and contain at least 1 number, 1
    capital letter and 1 special character)</span
  >
  <br />
  <input
    type="password"
    name="account_password"
    required
    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$"
    title="Must have 1 special character, 1 uppercase character, and 1 number"
    placeholder="12 minimum characters"
  /><br />
  <input type="submit" value="Log-in" id="submit" title="Log-in" /><br />
  <label for="register">No Account? <a href="register">Sign-up</a></label>
</form>
