/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}
:root {
  --heading-font: "Nunito Sans", serif;
  --other-font: "Montserrat", serif;
}

body {
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 30px auto;
  border: #001eb3 solid 5px;
  border-radius: 5px;
}

body,
head,
footer {
  background-color: white;
  width: 80%;
}

.siteName {
  font-family: var(--heading-font);
  font-size: 75px;
  font-weight: bolder;
  padding: 20px;
}

#top-header {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}

#top-header a {
  text-decoration: none;
  color: black;
}

nav {
  background-color: black;
  color: white;
  border-radius: 5px;
  margin: 0 25px;
}

nav li {
  list-style: none;
  font-size: larger;
}

nav li a {
  color: white;
  text-decoration: none;
}

nav li a:hover {
  background-color: white;
  color: black;
  padding: 5px;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 15px;
}

/* body */

h2 {
  font-family: var(--heading-font);
  padding: 5px;
}

.hero-label {
  font-family: var(--other-font);
  font-size: xx-large;
  text-align: left;
  padding: 0 25px;
}

.hero img {
  width: 75%;
  object-fit: cover;
}

.label button {
  font-family: var(--other-font);
  color: white;
  font-size: large;
  border-radius: 5px;
  background-color: #001eb3;
  padding: 10px;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
  width: 80%;
  align-items: center;
}
.label {
  width: 250px;
  height: 100%;
  text-align: left;
  position: absolute;
  top: 20px;
  left: 150px;
  backdrop-filter: blur(0.4rem);
  background: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}
.description {
  font-family: var(--other-font);
  color: #001eb3;
  font-weight: bolder;
  font-size: xx-large;
}

.hero {
  position: relative;
}

/* UPGRADES */
#upgrade-reviews {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.upgrade {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 25px;
}

.upgrade img {
  width: 80px;
  height: 80px;
}

.upgrade-box {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.upgrade-img {
  width: 200px;
  height: 100px;
  background-color: #001eb3;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#upgrade-reviews h3 {
  font-family: var(--heading-font);
  font-weight: 800;
  font-size: 30px;
}

.reviews {
  height: 100%;
}

.reviews ul li {
  font-family: var(--other-font);
  padding: 20px;
}

html {
  background: url("/images/site/checkerboard.jpg");
}

/* INVENTORY DISPLAY */
#inv-display {
  padding-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 15px;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#inv-display li {
  list-style: none;
  font-family: var(--other-font);
  border: grey solid 2px;
  width: 80%;
  border-radius: 30px;
}

#inv-display img {
  width: 100%;
  height: 200px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  object-fit: cover;
}

#inv-display li a {
  text-decoration: none;
}

#inv-display li hr {
  display: none;
}

#item-display {
  display: flex;
  flex-direction: row;
}

#item-display img {
  width: 75%;
  height: 75%;
  object-fit: cover;
  margin: 25px;
}

h1 {
  font-family: var(--heading-font);
}
.car-details {
  font-family: var(--other-font);
  text-align: left;
}

.grey {
  background-color: lightgrey;
  width: 50%;
  padding: 5px;
}
.details {
  font-weight: bold;
}

/*Forms */

#login,
#add-classification,
#add-inventory {
  padding: 50px;
}
#login label,
#login input,
#register label,
#register input,
#add-classification label,
#add-classification input,
#add-inventory label,
#add-inventory input, #classificationList {
  margin-bottom: 15px;
}

#login input,
#register input {
  width: 25%;
  padding: 10px;
}

#add-classification input {
  width: 50%;
  padding: 10px;
}

#add-inventory input,#classificationList {
  width: 35%;
  padding: 10px;
}

#login label,
#register label,
#add-classification label ,#add-inventory label{
  font-size: x-large;
  font-family: var(--other-font);
}

#login input[type="submit"],
#register input[type="submit"],
#add-classification input[type="submit"],#add-inventory input[type="submit"] {
  font-size: large;
}

#login input:required,
#register input:required,
#add-classification input:required, #add-inventory input:required{
  border-left: solid 6px black;
}

#login input:required:valid,
#register input:required:valid,
#add-classification input:required:valid, #add-inventory input:required:valid {
  border-left: solid 6px green;
}

#messages {
  font-size: large;
  font-family: var(--other-font);
}

#register span,
#login span,
#add-classification span {
  font-style: italic;
  font-family: var(--other-font);
}

.notice li {
  list-style: none;
  color: red;
  padding: 10px;
  font-family: var(--other-font);
  font-style: italic;
}

#classificationList {
  font-family: var(--other-font);

}





@media screen and (max-width: 500px) {
  html {
    background-image: none;
  }

  body,
  head,
  footer {
    background-color: white;
    width: 100%;
  }

  body {
    border: none;
  }

  #top-header {
    justify-content: space-between;
    padding: 0;
  }

  #upgrade-reviews {
    display: flex;
    flex-direction: column-reverse;
  }

  .upgrade-img {
    width: 150px;
    height: 100px;
  }

  .reviews ul li {
    padding: 5px;
  }
  .hero-label {
    font-size: x-large;
    padding: 0 0;
  }

  nav {
    margin: 0 0;
  }
  .label button {
    font-size: small;
    padding: 2px;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    align-items: center;
  }
  .label {
    width: 120px;
    height: 110px;
    text-align: left;
    position: absolute;
    top: 20px;
    left: 50px;
    backdrop-filter: blur(0.4rem);
    background: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
  }
  .description {
    font-family: var(--other-font);
    color: #001eb3;
    font-weight: bolder;
    font-size: x-small;
  }

  .siteName {
    font-size: 40px;
  }

  h2 {
    font-size: medium;
  }

  #item-display {
    flex-direction: column;
  }

  #inv-display {
    display: flex;
    flex-direction: column;
  }

  #login input {
    width: 100%;
    padding: 10px;
  }

  #register input,#add-inventory input {
    width: 90%;
  }
}

@media screen and (min-width: 501px) and (max-width: 768px) {
  .label button {
    font-size: small;
    padding: 5px;
    margin-top: 5px;
  }
  .label {
    width: 160px;
    height: 160px;
    top: 20px;
    left: 100px;
  }

  .description {
    font-size: medium;
  }

  .upgrade {
    padding: 10px;
  }

  .upgrade-img {
    width: 120px;
    height: 70px;
  }

  .upgrade img {
    width: 50px;
    height: 50px;
  }

  .upgrade-reviews h3 {
    font-size: 20px;
  }

  .reviews ul li {
    padding: 5px;
  }

  .siteName {
    font-size: 50px;
  }

  #item-display {
    flex-direction: column;
  }
}
