<%if (title) { %>
<h1><%= title %></h1>
<%}else {res.redirect('/')} %> <%- messages() %>

<a href="../inv/add-classification" class="addButtons"
  >Add New Classification</a
>
<a href="../inv/add-inventory" class="addButtons">Add New Vehicle</a>

<h2>Manage Inventory</h2>
<p>Select Classification</p>
<%- classificationSelect %>
<table id="inventoryDisplay"></table>
<noscript>JavaScript must be enabled to use this page.</noscript>
<script src="../../js/inventory.js"></script>
